<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col">
    <div class="card w-full max-w-sm shadow-2xl bg-base-100">
      <div class="card-body">
        <% if current_user.verified? %>
          <h1 class="text-3xl font-bold text-center">Change your email</h1>
        <% else %>
          <h1 class="text-3xl font-bold text-center mb-4">Verify your email</h1>
          <p class="mb-4">
            We sent a verification email to the address below. Check that email and follow those instructions to confirm it's your email address.
          </p>
          <div class="mb-4">
            <%= button_to "Re-send verification email", identity_email_verification_path, class: "btn btn-secondary w-full" %>
          </div>
        <% end %>

        <%= form_with(url: identity_email_path, method: :patch, class: "space-y-4") do |form| %>
          <div class="form-control">
            <%= form.label :email, class: "label" do %>
              <span class="label-text">New Email</span>
            <% end %>
            <%= form.email_field :email, required: true, autofocus: true, class: "input input-bordered w-full" %>
          </div>

          <div class="form-control">
            <%= form.label :password_challenge, class: "label" do %>
              <span class="label-text">Current Password</span>
            <% end %>
            <%= form.password_field :password_challenge, required: true, autocomplete: "current-password", class: "input input-bordered w-full" %>
          </div>

          <div class="form-control mt-6">
            <%= form.submit "Save changes", class: "btn btn-primary w-full" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
